.title-container {
  padding-left:20px;
}

.top-bar-div {
  padding:2rem;
  margin: 0 auto;
}

.recipientsHeader{
  margin-left:3rem;
  margin-top:1rem;
}

.top-bar-img {
  width: 250px;
}

.logout-ctn {
  border-top: 1px solid lightgray;
}
