.title-container {
  padding-left: 20px;
}

.center {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  margin: auto;
  padding: 0%;
}

.top-bar-div {
  padding: 2rem;
  margin: 0 auto;
}

.recipientsHeader {
  margin-left: 3rem;
  margin-top: 1rem;
}

.top-bar-img {
  width: 150px;
  padding-bottom: 5px;
}

.logout-ctn {
  border-top: 1px solid lightgray;
}
