//General Dashboard Tab

.dashboard .title-container {
  padding: 0%;
}
.dashboard * {
  max-width: 100%;
}

//Profile Card

.tiny-avatar {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.tiny-avatar-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.profile-card {
  width: 90vw;
  display: flex;
  border: 1px solid #000000;
  padding: 1rem;
  border-radius: 0.3vw;
  -moz-border-radius: 0.3vw;
  -webkit-border-radius: 0.3vw;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1rem;
}

.card-child {
  margin: 1vw;
}

.card-text {
  font-weight: 600;
  color: #712c94;
}

//Metrics Bar On Dashboard Tab

.metrics-holder-dashboard {
  padding: 0 1rem 1rem 1rem;
  width: 90vw;
}

.dropdowns-holder {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.dashboard .dropdown-dashboard {
  margin-bottom: 1rem;
}
.metricsBarLabelSelectPair {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  label {
    margin: 0.5rem;
    font-weight: bold;
  }
}
//Eligibility Section Of Dashboard Tab

.eligibilityDashboardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  input {
    padding: 0.4rem;
    margin: 1rem;
    border-radius: 0.5rem;
    border: 0.2rem solid black;
  }
  button {
    border-radius: 0.6rem;
    padding: 0.5rem;
    background-color: white;
    border: 0.2rem solid black;
  }
}

.eligibilityResults {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.2rem solid black;
  border-radius: 1rem;
  margin: 1rem;
  padding: 0.75rem;
  p {
    padding: 0.75rem;
    font-size: 1.25rem;
  }
  .resultAnswer {
    border: 0.2rem solid black;
    padding: 0.3rem;
    width: 5rem;
  }
}

//MEDIA QUERIES

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .profile-card {
    width: auto;
    flex-direction: column;
    align-items: flex-start;
    padding: 8%;
  }
  .tiny-avatar {
    width: 70px;
    height: 70px;
  }
  .tiny-avatar-container {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}
