//General Dashboard Tab

.dashboard .title-container {
  padding: 0%;
}
.dashboard * {
  max-width: 100%;
}

// Map Styles

//Eligibility Section Of Dashboard Tab

.service {
  display: flex;
  flex-direction: space-between;
}

// dashboard button
.serviceButtonPurple {
  color: white;
  background-color: #da70d6;
  justify-content: center;
  width: 100px;
}

// dashboard button
.serviceButtonYellow {
  color: white;
  background-color: #ffa500;
  width: 100px;
}

// dashboard button
.serviceButtonBlue {
  color: white;
  background-color: #4169e1;
  width: 100px;
}

// Household Text
.Household {
  display: flex;
  justify-content: space-between;
}

// Household Text Bellow Map
.House {
  color: #a9a9a9;
  margin-top: 38px;
}

//Eligiable  Bellow Map
.Eligiable {
  color: #a9a9a9;
}

// Grouping both text
.adjoinHouse {
  width: 1000px;
  display: flex;
  color: #a9a9a9;
}

// Color for list bellow dashboard
.serviceList {
  color: #a9a9a9;
}

// grouping the list in twos bellow dashboard
.groupedList {
  display: flex;
  justify-content: space-between;
  margin-left: 28rem;
  margin-right: 28rem;
}

// resizing logo
#logo{
width:10rem;
}