
.tablet {
 
}

.navBar{
 visibility:visible;
}

.desktop {
  @media (max-width: 992px) {
    display: none;
  }
  @media (min-width: 992px) {
    position: fixed;
    width: 250px;
    height: 100%;
  }
}

.upper-desktop {
  @media (max-width: 992px) {
    display: none;
  }
  @media (min-width: 992px) {
    width: 250px;
  }
}

.recipientTable{
  width:100%;
  @media (width:768px){
    justify-content: center;
    width:fit-content;
  }
}


.desktop-table {
  justify-content: center;
  margin:0 auto;
  width:80%;
  display:flex;
  background:none;
  overflow:visible;
  border:none;
  flex-direction:row;
  height:100%;
}

.desktop-profile {
  @media (min-width: 992px) {
    margin-left: 20rem;
    width: 500px;
    height: 600px;
  }
}

.desktop-title {
  @media (min-width: 992px) {
    justify-content: space-around;
  }
}
