.profile-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  margin:0 auto;
  .avatar {
    margin:20px auto 0;
    width:250px;
    border-radius: 50%;
  }
  .avatar-uploader {
    display: flex;
    justify-content: center;
  }
}

.ant-form-item-label label {
  font-size: 24px;
  font-weight: bold;
}

.save-edit-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}
.cancel-contain {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

.cancel-btn:hover {
  border-bottom: 1px solid black;
}
