.profile-container {
  border: rgb(202, 202, 202) 1px solid;
  border-radius: 10px;
  width: 20%;
  height: 700.7px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  margin-left: 5rem;
  .avatar-uploader {
    display: flex;
    justify-content: center;
  }
  @media screen and (max-width: 1025px) {
    width: 75%;
  }
}

.ant-form-item-label label {
  font-size: 24px;
  font-weight: bold;
}

.save-edit-container {
  display: flex;
  justify-content: center;
}
.cancel-contain {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.cancel-btn:hover {
  border-bottom: 1px solid black;
  margin-top: 1rem;
}
