.recipient-table {
  padding: 1rem;
}

.sort-recipient-form {
  margin: 0%;
  padding: 0;
}

.desktop-table {
  margin: 0%;
  padding: 0;
}

.desktop-table .ant-pagination {
  display: flex;
  justify-content: center;
}
