.services-header {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.add-services-btn-ctn {
  margin-right: 5rem;
}
.add-type-btn-ctn {
  margin-left: 13rem;
}

.date-time-wrapper {
  display: flex;
}
.time-input {
  margin-left: 3rem;
}
