.col-sm {
  width: 75px;
  @media (orientation: portrait) {
    width: 50px;
  }
}
.filters {
  float: right;
  margin-right: 20px;
}

//MEDIA QUERIES

//DESKTOP - SERVICES TAB / SERVICES TABLE

@media (min-width: 1600px) {
  .servicesTable {
    margin-left: 13rem;
    margin-right: 13rem;
  }
  .servicesTabAddButtonsWrapper {
    margin-right: 13rem;
  }
  .servicesTitleContainer {
    margin-left: 11rem;
  }
}

@media (min-width: 1025px) and (max-width: 1599px) {
  .servicesTable {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .servicesTabAddButtonsWrapper {
    margin-right: 5rem;
  }
  .servicesTitleContainer {
    margin-left: 4rem;
  }
}
