@import './styles/Services.scss';
@import './styles/Programs.scss';
@import './styles/Profile.scss';
@import './styles/Employees.scss';
@import './styles/commonComponents.scss';
@import './styles/Layout.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}


