@import './styles/Services.scss';
@import './styles/Programs.scss';
@import './styles/Profile.scss';
@import './styles/Employees.scss';
@import './styles/commonComponents.scss';
@import './styles/Layout.scss';
@import './styles/Dashboard.scss';
@import './styles/MetricsFilterBar.scss';
@import './styles/NavBar.scss';
@import './styles/Recipients.scss';
@import './styles/eligibility.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
}

.ant-modal-mask {
  background-color: rgba(1, 31, 24, 0.623);
}

@media (max-width: 800px) {
  /* We should refactor this for min-width since we are styling for tablet-view first */
  .ant-table-cell {
    font-size: 0.7rem;
  }
}
